[Unit]
Description=piradar
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/piradar/main.py

[Install]
WantedBy=multi-user.target