:root {
    font-family: system-ui;
    --colour: black;
    --background-colour: #F7F7F6;
    --accent-control-colour: #BDBDBF;
    --map-filters: invert(0%)
}

@media (prefers-color-scheme: dark) {
    :root {
        --colour: white;
        --background-colour: #222325;
        --accent-control-colour: #686A6D;
        --map-filters: hue-rotate(180deg) invert(100%)
    }
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
    background-color: var(--background-colour);
}

.leaflet-tile-pane {
    filter: opacity(50%) var(--map-filters);
}

.aircraft-icon, .current-location-icon {
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
    font-family: system-ui;
}

.aircraft-icon {
    font-size: 24px;
    color: white;
    text-shadow: 0 0 5px black;
    transform-origin: center;
    cursor: pointer;
    transition: color 0.1s ease;
}

.helicopter-icon {
    animation: helicopter-spin 0.5s linear infinite
}

@keyframes helicopter-spin {
    100% { transform: rotate(360deg) }
}

#resize-handle {
    margin-top: 5px;
    width: 50px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--accent-control-colour);
    border-radius: 2.5px;
}

#main-container {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
    width: 320px;
    height: 98.5vh;
    background-color: var(--background-colour);
    color: var(--colour);
    padding: 0 15px;
    margin: 10px 0 0 10px;
    border-radius: 10px 10px 0 0;
}

#main-container h1 {
    margin-top: 10px;
}

@media (max-width: 500px) {
    #main-container {
        right: 10px;
        width: calc(100vw - 30px);
        margin: 0;
        height: 50vh;
    }
}
